.list {
  display: flex;
width: 100%;
  .listContainer{
    flex: 7;
     .listMain{
      box-shadow: 2px 4px 10px 1px rgb(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;


    .listTiele{
      font-weight: 500;
      color: #555;
      margin-bottom: 15px;
    }
     }

  }
} 